:root {
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    --gray-600: hsl(224, 23%, 55%);

    --purple-500: hsl(245, 83%, 68%);

    --blue-950: hsl(223, 47%, 23%);
    --blue-700: hsl(245, 75%, 52%);
    --blue-150: hsl(224, 100%, 92%);
    --blue-100: hsl(225, 100%, 94%);
    --blue-50: hsl(225, 100%, 98%);

    --spacing-600: 3rem;    //48px
    --spacing-400: 2rem;  //32px
    --spacing-300: 1.5rem; //24px
    --spacing-200: 1rem;   //16px
    --spacing-100: 0.5rem; //8px

    --font-main: 'Red Hat Display', sans-serif;
}